@import url("dark_theme.css");

.pages label{
    padding-right: .5em;
    font-weight: bold;
}

.pages div{
    padding-bottom: .5em;
}
.ui.green.button, .ui.green.buttons .button{
    background-color: #045016;
}

footer {
    color: #170505;
}

a {
    color: #6fb1f1;
}

.ui.menu.three.item .item {
    background-color: #1c1c1c;
    color: #2199fd;
}

.ui.attached.header {
    background: #1c1c1c !important;
    color: #38b5b5 !important;
    border: none !important;
}

body:not(.full-width) {
    color: #ffffff;
}

@media only screen and (min-width: 700px) {

    footer{
      position: fixed;
      left: 0;
      bottom: 0;
      height: 3rem;
      text-align: center;
  }
}

@media only screen and (max-width: 700px) {

    footer{
      position: fixed;
      left: 0;
      bottom: 0;
      height: 4rem;
      text-align: center;
  }

  #main{
      margin-top: 18rem;
  }
}